# Import Data Set

In [3]:
import pandas as pd
data = pd.read_csv("C:/Users/admin/Desktop/R_Language/assignment_completed/5)multilinear_regression/50_Startups (1).csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

# Correlation

In [5]:
data.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [6]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [9]:
data11 = data.rename({'R&D Spend': 'R&D_Spend'}, axis=1)

In [10]:
data1 = data11.rename({'Marketing Spend': 'Marketing_Spend'}, axis=1)

In [11]:
data1.head()

   R&D_Spend  Administration  Marketing_Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Fitting a Linear Regression Model

In [12]:
import statsmodels.formula.api as smf
model = smf.ols("Profit~R&D_Spend+Administration+Marketing_Spend",data = data1).fit()

PatsyError: Error evaluating factor: NameError: name 'R' is not defined
    Profit~R&D_Spend+Administration+Marketing_Spend
           ^^^^^^^^^

In [30]:
#Coefficients
model.params

Intercept          25792.200199
YearsExperience     9449.962321
dtype: float64

In [31]:
#t and p-Values
print(model.tvalues, '\n', model.pvalues)

Intercept          11.346940
YearsExperience    24.950094
dtype: float64
 Intercept          5.511950e-12
YearsExperience    1.143068e-20
dtype: float64

In [32]:
#R squared values
(model.rsquared,model.rsquared_adj)

(0.9569566641435086, 0.9554194021486339)

# Predict for new data point

In [33]:
#Predict for 2 and 3 YearsExperience circulation
newdata=pd.Series([6,7])

In [34]:
data_pred=pd.DataFrame(newdata,columns=['YearsExperience'])

In [35]:
model.predict(data_pred)

0    82491.974127
1    91941.936449
dtype: float64